<header class="navbar">
    <div class="container navbar-inner">

      <!-- LOGO -->
      <a href="index.html" class="navbar-logo">
        <!-- LOGO DEFAULT -->
        <img 
          src="assets/icon/JFC Logo 2BW.png" alt="Logo" class="logo-default">
        <!-- LOGO SCROLL -->
        <img 
          src="assets/icon/JFC&Logo&1C.ico" alt="Logo" class="logo-scroll">
      </a>

      <!-- MENU -->
      <nav class="nav-menu">
        <a href="index.html" data-page="index">
          Home
        </a>
        <a href="about.html" data-page="about">
          About
        </a>
        <div class="nav-dropdown">

          <a href="programs.html" class="nav-dropdown-toggle">
            Programs
            <span class="dropdown-arrow">+</span>
          </a>

          <div class="nav-dropdown-menu">

            <a href="https://filminginjakarta.com/">
              Filming In Jakarta
            </a>

            <a href="https://filminginjakarta.com/jfs/jfs.html">
              Jakarta Film Summit
            </a>

          </div>

        </div>
        <a href="events.html" data-page="events">
          Events
        </a>
      </nav>

    </div>
  </header>