<header class="navbar">
    <div class="container navbar-inner">

      <!-- LOGO -->
      <a href="index.html" class="navbar-logo">
        <!-- LOGO DEFAULT -->
        <img 
          src="assets/icon/JFC Logo 2BW.png" alt="Logo" class="logo-default">
        <!-- LOGO SCROLL -->
        <img 
          src="assets/icon/JFC&Logo&1C.ico" alt="Logo" class="logo-scroll">
      </a>

      <!-- MENU -->
      <nav class="nav-menu">
        <a href="index.html" data-page="index">
          Home
        </a>
        <a href="about.html" data-page="about">
          About
        </a>
        <a href="programs.html" data-page="programs">
          Programs
        </a>
        <a href="events.html" data-page="events">
          Events
        </a>
      </nav>

    </div>
  </header>